<!-- Validation failure messages -->
<% if @bill.errors.any? %>
  <% @bill.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Bill: '<%= @bill.name %>'</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_bill/<%= @bill.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Bill Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @bill.name %>">
      </div>

      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @bill.category_id), :class => "form-control") %>
        <a href="/categories/new">or add a new category</a>
      </div>

      <!-- Label and input for company -->
      <div class="form-group">
        <label for="company" class="control-label">
          Company
        </label>

        <input type="text" id="company" name="company" placeholder="Company" class="form-control" value="<%= @bill.company %>">
      </div>

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @bill.amount %>">
        </div>
     </div>

      <!-- Label and input for recurring -->
      <div class="form-group">
        <label for="recurring" class="control-label">
          Recurring (Yes or No?)
        </label>
        <div>
          <label class="checkbox-inline">
            <input type="checkbox" id="Yes" value="Yes" name="recurring"> Yes
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="No" value="No" name="recurring"> No
          </label>
        </div>
      </div>

      <!-- Label and input for due_at -->
      <div class="form-group">
        <label for="due_at" class="control-label">
          Due at
        </label>

        <div class='input-group date' id='datetimepicker1'>
          <input name="due_at" type="text" class="form-control" id="due_at" value="<%= @bill.due_at %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" placeholder="Image" class="form-control" value="<%= @bill.image %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @bill.notes %></textarea>
      </div>

      <button class="btn btn-success">
        Edit Bill
      </button>
      or
      <a href="/bills">Cancel</a>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({format: 'DD/MM/YYYY', defaultDate:'<%= raw(@bill.due_at) %>'});
  });

</script>
