<div class="page-header">
  <h1>
    Summary
  </h1>
</div>

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Month
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>
      November
    </li>
    <li>
      December
    </li>
    <li>
      January
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>#</th>
        <th>Week 1</th>
        <th>Week 2</th>
        <th>Week 3</th>
        <th>Week 4</th>
        <th>Week 5</th>
      </tr>
      <% @bills.each do |bill| %>
      <tr>
        <td>
        <%= @n + 1 %>
        </td>
        <td>
          <% if @week_1_bills.include? bill %>
          <p>
            <h3>
              <%= bill.name %>
            </h3>
            <a>
              <%= bill.amount %>
            </a>
          </p>
          <% end %>
        </td>
        <td>
          <% if @week_2_bills.include? bill %>
          <p>
            <h3>
              <%= bill.name %>
            </h3>
            <a>
              <%= bill.amount %>
            </a>
          </p>
          <% end %>
        </td>
        <td>
          <% if @week_3_bills.include? bill %>
          <p>
            <h3>
              <%= bill.name %>
            </h3>
            <a>
              <%= bill.amount %>
            </a>
          </p>
          <% end %>
        </td>
        <td>
          <% if @week_4_bills.include? bill %>
          <p>
            <h3>
              <%= bill.name %>
            </h3>
            <a>
              <%= bill.amount %>
            </a>
          </p>
          <% end %>
        </td>
        <td>
          <% if @week_5_bills.include? bill %>
          <p>
            <h3>
              <%= bill.name %>
            </h3>
            <a>
              <%= bill.amount %>
            </a>
          </p>
          <% end %>
        </td>
      </tr>
        <% @n = @n + 1 %>
        <% end %>
      <tr>
        <td>
          Subtotal
        </td>
        <td>
          <div><%= @week_1_bills.map{|item| item.amount}.sum %></div>
        </td>
        <td>
          <div><%= @week_2_bills.map{|item| item.amount}.sum %></div>
        </td>
        <td>
          <div><%= @week_3_bills.map{|item| item.amount}.sum %></div>
        </td>
        <td>
          <div><%= @week_4_bills.map{|item| item.amount}.sum %></div>
        </td>
        <td>
          <div><%= @week_5_bills.map{|item| item.amount}.sum %></div>
        </td>
      </tr>
      <tr>
        <td>
          Total
        </td>
        <td colspan="5" class="total">
          <div><%= @bills.map{|item| item.amount}.sum %></div>
        </td>
      </tr>
    </table>

  </div>
</div>
